<div class="header">
  <a href="<%= Cd.proj.url %>">
    <img class="tm-icon" src="<%= Cd.proj.icon %>" alt="<%= Cd.proj.name %>">
    <h1 class="name"><%= Cd.proj.name %><span>.<%= Cd.proj.lang %></span></h1>
    <div class="description"><%= Cd.proj.desc %></div>
  </a>
</div>